<!DOCTYPE html>
<html>
  <head>
    <title>Firebase Data</title>
  </head>
  <body>
    <h1>Firebase Data</h1>
    <table id="data-table">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Item Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
        <tr>
          <td>{{ item.Orderid }}</td>
          <td>{{ item.itemname }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.Price }}</td>
          <td>{{ item.Status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
